<h1>Clocks</h1>
<form method="POST" action="/clocks">
  <div class="card border-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">
      <h2>Add new clock</h2>
    </div>
    <div class="card-body text-dark">
      <div class="form-group">
        <label for="manufacturer">Manufacturer</label>
        <input type="text" name="manufacturer" value="" />
      </div>
      <div class="form-group">
        <label for="model">Model</label>
        <input type="text" name="model" value="" />
      </div>
      <div class="form-group">
        <label for="type">Type</label><br>
        <input type="text" name="type" value="" />
      </div>
      <input type="submit" class="btn btn-info" value="Add"/>
    </div>
  </div>
  </div>
</form>