<form>
  <div class="card border-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">
      <h2>Edit videogame detials</h2>
    </div>
    <div class="card-body text-dark">
      <div class="form-group">
        <label for="manufacturer">Manufacturer</label>
        <input type="text" name="manufacturer" value="{{videogames.manufacturer}}" />
      </div>
      <div class="form-group">
        <label for="model">Model</label>
        <input type="text" name="model" value="{{videogames.model}}" />
      </div>

      <button type="button" class="btn btn-info">Send</button>
    </div>
  </div>
  </div>
</form>